# VS Code settings
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled code
*.o
*.out
*.exe

# Node.js (if used)
node_modules/
